tests/test.yml
site
.vagrant
*.retry
*.log
inventories
.cache
roles/bertvv.samba
roles/geerlingguy.docker
roles/geerlingguy.nfs

# Vim
[._]sw[a-p]

# Session
Session.vim

# IntelliJ
/.idea/


.vscode/settings.json
roles/linux/files/.taskrc
roles/samba/files/smb.conf
roles/server/files/smb.conf
bootstrap1.sh
.venv/
vault.yml
roles/linux/files/sudoers_alex
roles/linux/files/id_rsa.pub
.github
.vscode
.DS_Store
.vault_pass
docker-notes.md
