tests/test.yml
site
.vagrant
*.retry
*.log
inventories
.cache
roles/bertvv.samba
roles/geerlingguy.docker
roles/geerlingguy.nfs
roles/golink/
docker/homeserver-config

# Vim
[._]sw[a-p]

# Session
Session.vim

# IntelliJ
/.idea/


.vscode/settings.json
roles/linux/files/.taskrc
roles/samba/files/smb.conf
roles/server/files/smb.conf
bootstrap1.sh
.venv/
vault.yml
roles/linux/files/sudoers_alex
roles/linux/files/id_rsa.pub
.github
.vscode
.DS_Store
.vault_pass



docker-notes.md
docker/drone/docker-compose.yml
docker/actualserver/docker-compose.yml
docker/gitea/.env
docker/homer/.env
terraform/kelleher-openrc.sh
terraform/proxmox.sh
roles/whisparr/defaults/main.yml
roles/whisparr/handlers/main.yml
roles/whisparr/tasks/main.yml
docker/gitea/secret-stuff.env
docker/immich/.env
docker/nginx-proxy-manager/docker-compose.yml
docker/pigallery2/docker-compose.yml
docker/portainer/docker-compose.yml
docker/stash/.env
docker/stash/docker-compose.yml
docker/syncthing/.env
docker/syncthing/docker-compose.yml
docker/wireguard-gui/.env
docker/wireguard-gui/docker-compose.yml
docker/wireguard-pia/.env
docker/wireguard-pia/.token
docker/wireguard-pia/docker-compose-old.yml
docker/wireguard-pia/docker-compose.yml
docker/gitea/docker-compose.yml
docker/homer/docker-compose.yml
docker/immich/example.env
roles/workstation/files/vscode/projects.json
roles/firefly-3/defaults/main.yml
roles/server/files/vscode/projects.json
roles/server/files/users/admin.json
roles/homer/templates/homer.j2
roles/hosts/tasks/main.yml
roles/server/files/grafana/dashboards/ansible-nas/ansible-nas-overview.json
roles/qbittorrent/tasks/main.yml
roles/linux/tasks/ssh.yml
roles/photoprism/defaults/main.yml
roles/photoview/defaults/main.yml
roles/samba/defaults/main.yml
roles/samba/tasks/main.yml
roles/firefly-3/tasks/main.yml
roles/server/defaults/main.yml
roles/linux/tasks/kopia.yml
roles/linux/tasks/alex.yml
