[defaults]
# retry_files_enabled = False

gather_timeout=30
# fact caching
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/facts_cache

# two hours timeout
fact_caching_timeout = 7200
display_skipped_hosts = false